script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js")
script(src="/js/talkie.min.js")
script.
  var talkie = Talkie({wide: true});

  talkie.next.plug(talkie.control.keydown('s'));
  talkie.next.plug(talkie.control.keydown('n'));
  talkie.prev.plug(talkie.control.keydown('a'));
  talkie.prev.plug(talkie.control.keydown('p'));

  document.addEventListener('DOMContentLoaded', function() {
    var slides = Array.prototype.slice.call(document.querySelectorAll('[layout]'));
    talkie.changed.onValue(function(current) {
      console.clear();
      // safari's `console#clear` is async...
      setTimeout(function() {
        // print presenter notes
        console.info(talkie.notes[slides.indexOf(current)]);
      }, 50);
    });
  });
