meta(charset="UTF-8")
title P / Daichi Kimura
link(rel="stylesheet"  href="/css/talkie.min.css")
link(rel="stylesheet"  href="/css/talkie-default.min.css")
link(rel="stylesheet"  href="/css/monokai_sublime.css")
style.
  @media (max-device-width: 640px) {
    #control {
      font-size: 200% !important;
      right: 10px;
      bottom: 10px;
    }
    #next, #prev {
      font-size: 400% !important;
      right: 10px;
      bottom: 10px;
    }
  }
