extends ./_base

block contents
  
  section(
    type="text/x-markdown"
    layout="title"
    invert
    backface="/images/cover.jpg"
    backface-filter="blur(2px) brightness(.6)"
  )
  
    # フロントエンドエンジニアの<br>これまでとこれから
    
    @[dkimura](https://twitter.com/habu0104) / [Daichi Kimura](https://www.facebook.com/daichi.kimura)

  section(type="text/x-markdown" layout="bullets")
  
    # 自己紹介
    
    * ゆるーく、フロントエンドエンジニアやってます。
    * 過去に、プログラマー/システムエンジニアも少しやってました。
    * `JavaScript`ガチ勢ではないです。（ガチ勢こわい
    * 最近は、`Single Page Application`作る機会が多いです。
    * No Beer No Life.

  section(
    type="text/x-markdown"
    layout="title"
    invert
    backface="/images/beer.gif"
    backface-filter="brightness(.6)"
  )
  
    # ご参考

  section(type="text/x-markdown" layout="bullets")
    
    # 今日お話すること
    
    * フロントエンドエンジニアをやり始めて約3年くらいなので、<br>今までの歴史を振り返って懐かしむ。
    * フロントエンドエンジニアのこれからを漠然と予想する。
    * ~~本当は、[このページ](http://recruit.feedforce.jp/engineer_2015/)をガチ改修したった話にしようと思ったけど、<br>モチベーションが続かず頓挫した。~~
    
    |-----
    |- 画像がね…そこまで画像にしちゃうんだ…みたいな感じになっててね…
    |- とりあえず、モバイルスコア: 30 → 60にした
    |- 表示時のガタつきをなくした
    |- プロパティの値はそのまま拝借したけど、HTML/CSSほぼ全部書き直した
    |- ただ、週末にやっていると不毛な感じになってきてやめた☆
    |- React勉強したかったんや！！！

  section(type="text/x-markdown" layout="bullets")

    # フロントエンドエンジニア？

    * 2008年くらいから流行りだした？
    * `HTML`, `CSS`, `JavaScript`, ブラウザの仕様をわかった上でコードを書く人。
    * CSSプログラマー or JavaScriptエンジニアといった内部構造になっている気もする。
    * デザイナーさんとバックエンドエンジニアさんの狭間で生きてたりする。

    |-----
    |- 仕様…完璧には覚えれてないので、よく辞書（Dash）で検索します。
    |- マークアップエンジニアとの違い…？JavaScript書けるかどうか？
    |- コーダーをDisるわけではないけど、「表示されればいい」「とりあえず動けばいい」みたいなコードが多い。
    |- ブラウザが賢いのもあって、かなりカジュアルに書いても動くので「とりあえず動く」コードが量産しやすい。
    |- こんな私ですが、パフォーマンス/運用性/拡張性を意識してるんやで。

  section(
    type="text/x-markdown"
    layout="title"
    invert
    backface="/images/bigwave.jpg"
    backface-filter="blur(1px) brightness(.5)"
  )

    # そんなわけで私も

    |-----
    |- しがないコーダーくずれだったから、カッケー！と思ってた。
    |- 2013年から2014年まで、製作会社でフロントエンドとして働いてた。

  section(
    type="text/x-markdown"
    layout="bullets"
  )
    
    ## フロントエンドエンジニアの現場
    
    * `Command + Alt + I`を押すと書いたコードが、第三者に簡単に見られる緊張感。
    * 要件定義、デザイン/UI/UX、自動化、テスト/検証環境の作成など、<br>コードを書く事以外もやる事は多い。
    * 2ヶ月ペースでトレンドが変わったりするので、**ただひたすら情報を追うしかない。**<br>「まだxxxで消耗しているの？」系のエントリーが頻繁に出る。
    * デザイナー/バックエンドがハッピーになれる事を考えてコードを書く。

    |-----
    |- 前職の現場をベースに書いています。
    |- 話題になるサイトとかは、実装が気になるのでURL叩いて`Command + Alt + I`します。
    |- もちろん、面接受ける前に弊社のウェブサイトでもやった？
    |- feedforce.jpでやってみよう。Serviceの所と、Topicsのところ。
    |- よくいえば反面教師。悪く言えば、アラ探ししている性格悪い人。
    |- 要件定義から参加しないと、無茶な要件が既に固まってて緩やかな死を迎える。
    |- 自身で、デザインできると強い。（デザイン中に実装方法考えられるから
    |- まだ全てを理解できないけど、デザインって感覚で行うところもあって理論的に考えているエンジニアとは思考が合わなかったりする。
    |- 故に間に入って、提案/実装したりもしないといけない。（デザインスプリントしたい）

  section(
    type="text/x-markdown"
    layout="title"
    invert
    backface="/images/ha-ha-no.gif"
    backface-filter="brightness(.6)"
  )

    # つらいこと

  section(
    type="text/x-markdown"
    layout="bullets"
  )

    ## ／(^o^)＼
    
    * `JavaScript`フレームワーク出過ぎ問題。<br>これからやろうっていう人が取っつにくい。
    * 言語仕様的に、`CSS`が貧弱で崩壊しやすい。
    * プリプロセッサー（`Sass` `CoffeeScript`）を使うのは構わないが、<br>コンパイル後のファイル見ない人多い。
    * マルチデバイス時代に、どこまでやればいいか等の指標は一般的にはない。
    * `Android`と`Internet Explorer`の存在。

    |-----
    |- AngularJSは、触ってなかったことにしたい。
    |- フロントエンドでMVCするには、色々早すぎた。クソややこしくなる。
    |- プリプロセッサーの利点を活かしましょう。
    |- どうしてもポンコツブラウザが足を引っ張ったりするのでね…。
    |- Androidは4.0くらいまで、メーカー毎に独自エンジンが載った標準ブラウザだったのでマジ…
    |- 端末独自のバグまで付き合うと大変なことになります。。

  section(
    type="text/x-markdown"
    layout="title"
    invert
    backface="/images/yes.gif"
    backface-filter="brightness(.5)"
  )

    # やりがい

  section(
    type="text/x-markdown"
    layout="bullets"
  )

    ## ＼(^o^)／

    * エンドユーザーに一番身近なモノを提供するのでドヤりやすい。( ･´ｰ･｀)ﾄﾞﾔｧ
    * 無茶振りとかは別として、新しいモノ好きの人は結構ハマる。
    * **次に何やりたいか？**が見つけやすいし、実現させやすい。<br>フルスタックエンジニア、UI/UXデザイナー、ディレクターなど...
    * `JavaScript`でやれることが増えてきた！
    
    |-----
    |- 「これ、ワイが作ったんや（ﾄﾞﾔｧ）」
    |- 色々やれるので、「あー、これも面白いなー。」ってなるからね。
    |- やれることは次に書いている。
    
  section(
    type="text/x-markdown"
    layout="title"
    invert
    backface="/images/next.jpg"
    backface-filter="brightness(.5)"
  )

    # これから？

  section(
    type="text/x-markdown"
    layout="bullets"
  )

    ## JavaScriptの自由度が増してきている
    
    * [Node.js](https://nodejs.org/)のお陰で、`JavaScript`でサーバーサイドの実装ができる時代に。<br>（ターゲットはブラウザだけじゃなくなった）
    * 故にブラウザ/サーバーサイド、どちらでも動くコードが求められている。<br>[Isomorphic JavaScript](http://www.slideshare.net/axross/isomorphic-javascript-45659400)
    * [React Native](http://facebook.github.io/react-native/)の登場で、ネイティブアプリケーションだって作れる。
    * デスクトップ向けアプリケーションも作れる。[Atom-Shell](https://github.com/atom/atom-shell)とか使って。

    |-----
    |- ただ、まだRailsには勝てる気はしていない。
    |- 一生勝てない気もするけど。APIサーバーくらいならNode.jsでもいいんじゃまいか。
    |- 今からフロントエンドのコード書いてみようと思っている人は、Reactだけ触ればいいと思う。
    |- 結局全部、HTMLとCSSをJavaScript内に書くけどな！！！！
    |- それでもなお、Railsやる選択もありだとおもう。

  section(
    type="text/x-markdown"
    layout="bullets"
  )

    ## 次の時代に向けて
    
    * 「今まで培ってきた技術を次の時代にどう活かす事ができるのか。何を捨てるか。」<br>っていう予想をしつつ行動しなくてはならない。
    * Web上で求められていることが多くなってきているので、<br>今までのように単純にWebサイト作ればおｋ的な考えでいいのか？
    * インタラクティブなデザインに対応できる能力とかもあると食いっぱぐれなそう。
    
    |-----
    |- 既にマルチデバイス前提で考えていかなければいけないのは当然として。
    |- ウェブサイトではなく、ウェブアプリになってくるんじゃないかと勝手に予想している。
    |- ↑ 単純に考えれば、やはりJavaScriptなのか。
    |- インタラクティブなデザインに対応できる能力: 単純に見て楽しいと思えるものを作れるのは、かなり強い。

  section(
    type="text/x-markdown"
    layout="bullets"
  )

    # まとめ
    
    * つらいこともたくさんあったけど、新しい事を学んでいくって楽しいです。(^q^)
    * 脱・ブラウザに何かレンダリングするだけのエンジニア。
    * `JavaScript`を信用して次へ。

    |-----
    |- というか、つらいと思ったことを潰せる新しい技術が生まれているので助かる。

    
  section(
    type="text/x-markdown"
    layout="title"
  )

    # Question？
